/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}
.img_box {
  width: 200px;
  height: 300px;
}
.card {
  height: 50px;
  width: 100px;
  margin: 1px;
}
.card:hover {
  cursor: pointer;
  background-color: #FDFFF8;
}
input,select {
  margin-left: 5px;
}
.container {
  padding-left: 0;
}
.btn-info {
  margin: 2px;
  width: 75px;
}
.btn-info:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
